<div class="card">
    <div class="card-body text-info">
        <div class="">
            <%=link_to "Your Rooms",rooms_path,class: 'btn btn-list text-left text-info w-100'%>
        </div>

        <div class="">
            <%=link_to "Your Reservations",your_reservations_path,class: 'btn btn-list text-left text-info w-100'%>
        </div>

        <div class="">
            <%=link_to "Your Trips","#",class: 'btn btn-list text-left text-info w-100'%>
        </div>
    </div>
</div>