@import "bootstrap";
@import 'font-awesome';
@import "toastr";

.paginate {
  nav {
    display: inline-block;
  }
}

// .footerFixed{
//   min-height: 93vh;
//   position: relative;
//   padding-bottom: 60px;
//   box-sizing: border-box;
// }

// footer{
//   position: absolute;
//   bottom: 0;
// }
.con {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

#map {
  position: relative;
  width: 100%;
  height: 400px; 
}
#map-search {
  position: relative;
  width: 100%;
  height: 100vh;
  top: -50px;
}
@media (min-width: 600px) {
  #split{
    display: table;
    width: 100%;
  }

  #left {
    display: table-cell;
    width: 75%;
    float: left;
    // display: flex;
  }

  #right {
    display: table-cell;
    width: 25%;
    float: right;
    position: fixed;
    right: 0;
    // display: flex;
  }
}